<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/project.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>

                <link rel="icon" type="image/png" href="https://www.droidjam.in/images/droidjam_thumbnail.png" />

                <meta property="og:title" content="DroidJam"/>
                <meta property="og:description" content="India's premier Android conference."/>
                <meta property="og:image" content="https://www.droidjam.in/images/droidjam_thumbnail.png"/>

                <meta name="twitter:title" content="DroidJam"/>
                <meta name="twitter:description" content="India's premier Android conference."/>
                <meta name="twitter:image" content="https://www.droidjam.in/images/droidjam_thumbnail.png"/>
                <meta name="twitter:card" content="summary_large_image"/>

              <html itemscope itemtype="http://schema.org/Article"/>
              <meta itemprop="name" content="DroidJam">
              <meta itemprop="description" content="India's premier Android conference.">
              <meta itemprop="image" content="https://www.droidjam.in/images/droidjam_thumbnail.png">

	</head>
	<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
	<body>
