{{ partial "header.html" . }}

<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo" style="width: 300px; height: 300px">
      {{ with .Site.Params.logoimage }}
      <img src="{{ . }}" width="100%" style="padding: 10px 10px 10px 10px;">
      {{ end }}
      {{ with .Site.Params.logo }}
      <span class="icon {{ . }}"></span>
      {{ end }}
    </div>
    <div class="content">
      <div class="inner">
        <p>India's premier Android conference. Aug 30 - 31 at <a href="https://www.google.com/maps/place/Radisson+Blu+Bengaluru+Outer+Ring+Road/@12.9503992,77.6966682,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae13f076f7702d:0x850fe7405cc6e819!8m2!3d12.9503992!4d77.6988569">Radisson Blu, Bangalore</a></p>
      </div>
    </div>
    <nav>
      <ul>
        {{ range .Data.Pages.ByWeight }}
        <li>{{ if isset .Params "link" }}<a href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </header>

  <!-- Main -->
  <div id="main">
    {{ range .Data.Pages }}
    {{ .Render "onepagestyle" }}
    {{ end }}
  </div>

  <!-- Multilanguage -->
  <div id="languages">
    {{ if .IsTranslated }}
    {{ range $i, $e := .Translations }}
    {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
    {{ end}}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
