{{ partial "header.html" . }}

<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo" style="width: 300px; height: 300px">
      {{ with .Site.Params.logoimage }}
      <img src="{{ . }}" width="100%" style="padding: 10px 10px 10px 10px;">
      {{ end }}
      {{ with .Site.Params.logo }}
      <span class="icon {{ . }}"></span>
      {{ end }}
    </div>
    <div class="content">
      <div class="inner">
        <p>India's premier Android conference. July 13 - 14 at <a href="https://www.google.com/maps/place/Sheraton+Grand+Bangalore+Hotel+at+Brigade+Gateway/@13.0125413,77.553088,17z/data=!3m1!4b1!4m7!3m6!1s0x3bae3d78c39ed1d7:0x6832860dbb5cd434!5m1!1s2018-04-06!8m2!3d13.0125413!4d77.5552767">Sheraton Grand, Bangalore</a></p>
      </div>
    </div>
    <nav>
      <ul>
        {{ range .Data.Pages.ByWeight }}
        <li>{{ if isset .Params "link" }}<a href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </header>

  <!-- Main -->
  <div id="main">
    {{ range .Data.Pages }}
    {{ .Render "onepagestyle" }}
    {{ end }}
  </div>

  <!-- Multilanguage -->
  <div id="languages">
    {{ if .IsTranslated }}
    {{ range $i, $e := .Translations }}
    {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
    {{ end}}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}