<section id="speakers" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Speakers</h2>
    <!-- <p class="home-paragraph">We're looking for speakers who wish to give a talk at RubyConf India 2018. If you're interested kindly send your <a href="https://www.papercall.io/rci18" target="_blank">talk proposal</a> today.</p> -->
    <!-- <p class="home-paragraph last">Our CFP is closed now and we are reviewing the proposals. We will announce the speakers soon.</b></p> -->

    <br/>
    <br/>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/abhinandan.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Rifai</p>
          <p class="company"><a href="https://twitter.com/rifai" target="_blank">@rifai</a></p>
          <p class="about-speaker">
            Android developer at GO-JEK.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
